* {
    font-family: 'Radio Canada', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2%;
    background: #ccc;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1%;
}

header div {
    background-color: transparent;
    text-align: left;
}

header div a {
    text-decoration: none;
    color: rgb(77, 75, 75);
}

header div h1 {
   margin-bottom: 5px;
}


.header-nav-search {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.submit-line {
    display: flex;
    border: 0.4px solid rgb(207, 205, 205);
    margin-bottom: 5px;
}

.submit-line input {
    padding: 5px;
    border: none;
    outline: none;
}

.submit-line button {
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(119, 216, 27);
}

.submit-line button i {
    color: #fff;
}

span {
    color: rgb(119, 216, 27);
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 5px;
    display: inline-block;
    color: rgb(77, 75, 75);
    text-decoration: none;
    padding: 10px;
}

#menu ul li a:hover {
    color: rgb(119, 216, 27);
}

main section:nth-child(1) {
    background-image: url("../imagens/banner.jpeg");
    background-position: right center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    height: 300px;

}

.banner-text {
    color: rgb(189, 189, 189);
    background-color: rgb(12, 12, 12);
    text-align: left;
    font-size: 20px;
    padding: 20px;
    width: 30%;
    opacity: 50%;
    margin-bottom: 20px;
}

.banner-button {
    background-color: rgb(20, 20, 20);
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 12%;
}

.banner-button:hover {
    opacity: 90%;
}

.banner-button a {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

main section:nth-child(2) {
    display: flex;
    justify-content: space-around;
    color: rgb(77, 75, 75);
}

.content-section-two {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
}

.content-section-two svg {
    width: 25%;
    margin-bottom: 20px;
    background-color: transparent;
    align-self: center;
}

.content-section-two h1 {
    margin: 20px 20px 0px 0px;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
}

.content-section-two p {
    background-color: transparent;
    padding: 30px;
    text-align: center;
}

.svg-1 {
    fill: rgb(103, 119, 211);
}

.svg-2 {
    fill: rgb(220, 223, 80);
}

.svg-3 {
    fill: rgb(173, 94, 19);
}