#menu {
    height: 47px;
    background-color: #35109c;
}

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    width: 14%;
    height: 44px;
    display: inline-block;
    color: #fff;
    background-color: #c2a29b;
    text-decoration: none;
}